*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Mija', sans-serif;
}

a {
    text-decoration: none;
    color: #FFFFFF;
}

li{
    list-style: none;
}

small{
    font-size: 12px;
    color: #ffffff;
    font-family: 'Mija' ,sans-serif;
}

.header-nav{
    background: #525151;
    width: 100%;
    height: 98.55px;
    align-items: center;
}

.logo{
    width: 100%;
    height: auto;
    align-content: center;
    padding-top: 7px;
    margin-right: 20px;
}

.header-list {
    display: grid;
    grid-template-columns: 15% 7% 7% 7% 8% 12% 12% 30%;
    grid-template-areas: logo articles guides books events membership more input;
    grid-template-rows: 1;
    list-style: none;
    width: 100%;
    color: #000000;
    font-size: 22px;
    padding-top: 18px;
    margin-left: 30px;
    justify-items: center;
    align-items: center;
    
}

.search {
    grid-column: input;
    width: 300px;
    padding-left: 40px;
    border: 3px solid rgb(80, 76, 76);
    border-radius: 12px;
    height: 57px;
    background: url('./assets/search-solid.svg') 1% no-repeat #ffffff;
    background-size: 22px auto;
    background-position-x: 0.75em;
    background-position-y: 50%;
    margin-right: 35px;
    box-shadow: 0 13px 27px -5px rgba(50,50,93,.25),0 8px 16px -8px rgba(0,0,0,.3),0 -6px 16px -6px rgba(0,0,0,.025);
}

.header-list li a{
    align-content: center;
    color: #ffffff;
    font-family: 'mija', sans-serif;
}

.header-list button{
    height: 47px;
    width: 113px;
    border: none;
    border-radius: 12px;
    background-color: rgb(49, 49, 49);
    color: #ffffff;
    font-size: 22px;
    padding-bottom: 10px;
}   

.header-list button img {
    position: relative;
    top: 6px;
}

.four-grid{
    margin-top: -50px;
}

.grid-container{
    display: grid;
    grid-template-columns: repeat(2,auto);
    grid-template-rows: repeat(2,auto);
}

.top-left{
    background-color: #5B5B5B;
}

.top-left-span{
    position: absolute;
    left: 500px;
    top: 150px;
    font-family: sans-serif;
    font-size: 30px;
    line-height: 12px;
    font-weight: 900;
}

.top-span2{
    position: absolute;
    top: 40px;
    left: 120px;

}

.top-right{
    background-color: #808080;
    list-style: none;
}

.svg-list{
    list-style-type: none;
}

.svg-anch{
top: 150%;
position: relative;
padding: 7px 30px 7px 30px;
border-radius: 8px;
border: 1px solid white;
}


.bottom-left{
    background-color: #303030;
}

.bottom-right{
    background-color: #3E3E3E;
}

svg{
    top: 50px;
    border: 1px solid white;
    height: 40px;
    width: 52px;
    position:relative;
    border-radius: 10px;
    }

.red-logo{
    left: 1200px;
    top: 50px;
    display:flex;
    flex-direction: row;
    justify-content: space-between;  
    width: 220px; 
    position: relative;
}

.serious{
    border-radius: 12px;
    border: 1px solid grey;
    display: inline;
    justify-content: flex-end;
    position: relative;
    left: 1100px;
    top: 100px;
    display: inline;
    align-content: center;
    border: 1px solid #ffffff;
}


.text{
    color: grey;
    background-color: #ffffff;
    width: 450px;
    font-size: 35px;
    font-family: 'mija',sans-serif;
    text-align: center;
    margin-top: 50px;
    position: absolute;
    left: 50%;
    margin-left: -280px;
    letter-spacing: -1px;
    z-index: 11;
    display: block; 
}


button:hover{
    border: 1px solid rgb(59, 59, 59);
    border-radius: 12px;
    background-color: rgb(59, 59, 59);
}


.header-list li:hover{
    padding: 15px;
    border: 1px solid rgb(49, 49, 49);
    border-radius: 12px;
    background-color: rgb(49, 49, 49);
}

.art-con,.footer-bot-list2,.footer-last-div{
    display: grid;
    grid-template-columns: repeat(3,auto);
}

.fas.fa-long-arrow-alt-right.fa-2x{
    color: #FFFFFF;
}

.fas.fa-long-arrow-alt-right.fa-3x{
    color: #FFFFFF;
}

.art-sec, .art-sec1{
    padding: 20px;
}

.smash-tv,.each-grid,.design-sys,.smash-news,.newslet-form{
    display: grid;
    grid-template-columns: repeat(2,auto);
}

.try-my {
    display: grid;
    grid-template-columns: repeat(3, auto);
}

.singbar-img,.smashtv-img{
    width: 240px;
    height: 245px;
}

.try-logo{
width: 175px;
height: 60px;
}

.footer-bottom{
    display: grid;
    grid-template-rows: repeat(2,auto);
}

.click-hand{
    width: 900px;
    height: 500px;
}

.news-letter-cont{
    display: grid;
    grid-template-rows: repeat(5,auto);
}


.two-col-three-row{
    display: grid;
    grid-template-columns: repeat(2,auto);
    grid-template-rows: repeat(3,auto);
}

.mark-img{
    width: 70px;
    height: 70px;
}

.design-div, .footer-img-parag {
    display: grid;
    grid-template-rows: repeat(4,auto);

}

.try-bkg {
    background: #686868;
    color: #ffffff;
}

.try-ui-cont{
    background:#292828;
    margin: 80px 30px 30px 30px;
    border-radius: 12px;
    padding: 20px;
    color: #ffffff;
}

.sing-barr-cont{
    background-color: #303030;
    padding: 35px;
}

.design-img{
    width: 250px;
    height: 370px;
}


.top-height{
    height: 500px;
}

.top-left{
    padding: 200px 0 0 80px;
}
.top-right,
.bottom-left, .bottom-right {
    padding: 200px 0 0 80px;
    
}

.img-writers{
    width: 65px;
    height: 65px;
    border: 4px solid #ffffff;
    border-radius: 10px;
}

.top-leftimg-sec{
    display: inline-flex;
    justify-content: space-around;
}

.bottom-leftimg-sec{
    display: inline-flex;
    justify-content: space-around;
}

.paragraph {
    padding-top: 16px;
    color: #FFFFFF;
}

.paragraph1{
    font-size: 35px;
    padding-right: 20px;
}
.name1, .name3 {
    position: relative;
    top: 30px;
    left: 30px;
    color: #ffffff;
}

.name2{
    position: relative;
    bottom: 30px;
    left: 30px;
    color: #ffffff;
}

.far.fa-comment-alt{
    color: #FFFFFF;
}

.react-tools{
    display: grid;
    grid-template-columns: repeat(3, auto);
}

.art-sec{
    background-color: #3E3E3E;
    color: #FFFFFF;
    padding: 25px;
}

.art-sec1{
    background-color: #5B5B5B;
}

.art-sec3{
    display: grid;
    grid-template-rows: repeat(3,auto);
    background-color: #3E3E3E;
}

.smash-tv{
    background: rgb(36, 35, 35);
    height: 730px;
}

.smashtv-cont{
    background: #494848;
    padding: 55px;
    border-radius: 12px;
    margin: 65px;
    position: relative;
    left: 30px;
}
.smashtv-cont img{
    margin-left: 450px;
}

.smash-txt{
    margin-left: 410px;
    font-size: 35px;
    margin-bottom: 20px;
}

.smash-p{
    margin: 0 230px 0 230px;
    text-align: center;
    color: #FFFFFF;
}

.explore{
    margin: 60px 0 0 420px;
    border-radius: 12px;
    background: #000000;
    line-height: 85px;
    padding: 30px 15px 30px 15px;
    color: #FFFFFF;
}

.smash-tv small{
    margin-left: 445px;
}

.see-all{
    color: white;
    background: #000000;
    height: 200px;
}

.ship-now img{
    margin-bottom: 40px;
}

.see-all a{
    position: relative;
    top: 90px;
    left: 620px;
    text-decoration: underline;
}

.ship-now {
    display: grid;
    justify-content: center;
    grid-template-rows: repeat(5,auto);
    width: 100%;
    background: #525151;
}

.ship-now span{
    padding: 30px 0 0 340px;
    color: #FFFFFF;
}

.ship-now h1{
    padding: 30px 0 30px 0;
    font-size: 35px;
    text-align: center;
}

.ship-now p{
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 40px;
}

.btn-jump {
    margin: 0 0 40px 280px;
    border-radius: 12px;
    background: #000000;
    line-height: 35px;
    width: 260px;
    padding: 25px 20px 25px 20px;
    color: #FFFFFF;
    text-align: center;
}

.bell{
    display: grid;
    grid-template-columns: repeat(2,auto);
    background: #1d1d1d;
}

.bell img{
    border-radius: 12px;
    margin: 30px 0 0 30px;
    border: 10px solid grey;

}

.bell-story {
    margin: 40px 30px 0 30px;
    text-align: left;
    color: #FFFFFF;
    line-height: 35px;
}

.front-end{
    display: grid;
    grid-template-rows: repeat(8,auto);

}

.perf-opt {
    display: grid;
    grid-template-rows: repeat(7,auto);    
}
    
.news-letter-img {
    width: 425px;
    height: 400px;
}

.news-list{
    display: grid;
    grid-template-rows: repeat(10,auto);
}

.footer-list1{
    display: grid;
    grid-template-columns: repeat(9,auto);
}

.footer-list2 {
    display: grid;
    grid-template-columns: repeat(10,auto);
}

.footer-list3 {
    display: grid;
    grid-template-columns: repeat(5,auto);
}

.footer-bot-list1 {
    display: grid;
    grid-template-columns: repeat(4,auto);
}

.cartoon-dog{
    width: 150px;
    height: 110px;
}